body {
    font-family: sans-serif;
    padding: 10px;
    background: #1976D2;
}

h2, h3 {
    margin: 0;
}

h2 {
    color: white;
}

input {
    display: block;
}

.message {
    padding: 8px;
    border-radius: 4px;
}

.message-default {
    background-color: #E0E0E0;
}

.message-error {
    background-color: #EB5A46;
}

